<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor=#d4a3ae>
        <center>
        <h1> PREDICTING SURVIVAL IN TITANIC </h1><br>

        <form method="POST", action="{{url_for('home')}}">
           <b> PassengerClass :  <input type="text" , name='a' , placeholder="enter PassengerClass" align="center"> <br><br>
            Age :  <input type="text", name='b', placeholder="enter Age" align="center"> <br><br>
            Siblings aboard :  <input type="text", name='c', placeholder="enter Siblings aboard" align="center"> <br><br>
            Fare : <input type="text", name='d', placeholder="enter Fare" align="center"> <br><br><br></b>
            <input type="submit" , value='PREDICT' >
        </form>

    </center>

    </body>
</html>